<%- include('../layouts/header.ejs') -%>

    <% if(message=='login' ){ %>
        <script>
            toastr.success('Login Successfully!')
        </script>
    <% }else if(message=='update' ){ %>
        <script>
            toastr.success('Update Detail Successfully!')
        </script>
    <% } else if(message=='error' ){ %>
        <script>
            toastr.error('Something went wrong, Please Check again!')
        </script>
    <% } else {} %>

    <div class="main-content">
        <!-- Top navbar -->
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
            <div class="container-fluid">
                <!-- Brand -->
                <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
                    href="/dashboard">Dashboard</a>
                <!-- Form -->
                <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
                    <div class="form-group mb-0">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input class="form-control" placeholder="Search" type="text">
                        </div>
                    </div>
                </form>
                <!-- User -->
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="media align-items-center">
                                <span class="avatar avatar-sm rounded-circle">
                                    <img alt="Image placeholder"
                                        src="https://demos.creative-tim.com/argon-dashboard/assets-old/img/theme/team-4.jpg">
                                </span>
                                <div class="media-body ml-2 d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold">
                                        <%= details.first_name %>
                                            <%= details.last_name %>
                                    </span>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                            <div class=" dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Welcome!</h6>
                            </div>

                            <a href="/logout" class="dropdown-item">
                                <i class="ni ni-single-02"></i>
                                <span>Logout</span>
                            </a>

                        </div>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- Header -->
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
            style="min-height: 600px; background-image: url(https://raw.githubusercontent.com/creativetimofficial/argon-dashboard/gh-pages/assets-old/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white">Hello, <%= details.first_name %>
                        </h1>
                        <p class="text-white mt-0 mb-5">
                            <%= details.about_you %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="https://demos.creative-tim.com/argon-dashboard/assets-old/img/theme/team-4.jpg"
                                        target="_blank">
                                        <img src="https://demos.creative-tim.com/argon-dashboard/assets-old/img/theme/team-4.jpg"
                                            class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                                <form method="post" action="/updateStatus">
                                    <input type="hidden" name="id" value="<%= details.id %>">
                                    <% if (details.status > 0) { %>
                                        <button type="submit" class="user_status btn btn-sm btn-danger" >
                                            <input type="hidden" name="status" value="0">Deactivate  
                                        </button>
                                        
                                        <%} else { %>

                                            <button type="submit" class="user_status btn btn-sm btn-success" >
                                                <input type="hidden" name="status" value="1">Activate  
                                            </button>
                                        <% } %> 
                                </form>


                                <form method="get" action="/deleteDetail/<%= details.id %>">
                                    <button type="submit" class="user_delete btn btn-sm btn-danger float-right ml-4" >
                                        Delete <br/> Account  
                                    </button>
                                </form>

                                 
                            </div>
                        </div>
                        <div class="card-body pt-0 pt-md-4 mt-md-5">

                            <div class="text-center">
                                <h3>
                                    <%= details.first_name %>
                                        <%= details.last_name %><span class="font-weight-light"> <%=
                                                    details.age %></span>
                                </h3>
                                <div class="h5 font-weight-300">
                                    <i class="ni location_pin mr-2"></i>
                                    <%= details.country %>  <%= details.city %>
                                </div>
                                <hr class="my-4">
                                <p>
                                    <%= details.about_you %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">My Account</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <button class="btn btn-sm btn-primary" id="edit-button">Edit</button>
                                    <button class="btn btn-sm btn-primary" id="cancel-edit-button"
                                        style="display: none;">Cancel Edit</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/updateDetail">
                                <input type="hidden" name="id" value="<%= details.id %>">

                                <h6 class="heading-small text-muted mb-4">User information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label"
                                                    for="input-first_name">First
                                                    Name</label>
                                                <input type="text" id="input-first_name"
                                                    class="form-control form-control-alternative"
                                                    placeholder="First Name" name="first_name"
                                                    value="<%= details.first_name %>" disabled>


                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-last_name">Last
                                                    Name</label>
                                                <input type="text" id="input-last_name"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Last Name" name="last_name"
                                                    value="<%= details.last_name %>" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-email">Email
                                                </label>
                                                <input type="email" id="input-email"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Email" name="email"
                                                    value="<%= details.email %>" disabled>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-phone">Phone
                                                    Number</label>
                                                <input type="text" id="input-phone"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Phone Number" name="phone"
                                                    value="<%= details.phone %>" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <!-- Address -->
                                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group focused">
                                                <label class="form-control-label"
                                                    for="input-address">Address</label>
                                                <input id="input-address"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Home Address" name="address"
                                                    value="<%= details.address %>" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label"
                                                    for="input-city">City</label>
                                                <input type="text" id="input-city"
                                                    class="form-control form-control-alternative"
                                                    placeholder="City" name="city"
                                                    value="<%= details.city %>" disabled>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label"
                                                    for="input-country">Country</label>
                                                <input type="text" id="input-country"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Country" name="country"
                                                    value="<%= details.country %>" disabled>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-country">Postal
                                                    code</label>
                                                <input type="number" id="input-postal_code"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Postal Code" name="postal_code"
                                                    value="<%= details.postal_code %>" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <!-- Description -->
                                <h6 class="heading-small text-muted mb-4">About me</h6>
                                <div class="pl-lg-4">
                                    <div class="form-group focused">
                                        <label for="about-us">About Me</label>
                                        <textarea rows="4" id="input-about_us"
                                            class="form-control form-control-alternative"
                                            placeholder="A few words about you ..."
                                            disabled><%= details.about_you %></textarea>
                                    </div>
                                </div>

                                <input type="submit" class="btn btn-lg btn-success float-right"
                                    id="update-button" value="Update Details" style="display: none;" />

                                </fieldset>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6 m-auto text-center">
                <div class="copyright">
                    <p>Copyright <%= new Date().getFullYear() %>
                        | <%= new Date().getFullYear() %> All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>


    <%- include('../layouts/footer.ejs') -%>